<!DOCTYPE html>
<html>
<head>
<title>DISM-{{table_name_html|safe}}</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }} ">
<script src="https://cdn.jsdelivr.net/npm/chart.js@3.9.1/dist/chart.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>
<body>
    <div class="heading-container">
        <h1>Database on Indian Securities Market</h1>
      </div>
      <div class="table-container">
        <div class="horizontal_navbar">
          <div class="cell"><a href="{{url_for('app_blueprint.index')}}">Dashboard</a></div>
          <div class="cell"><a href="{{url_for('app_blueprint.database')}}">Database</a></div>
          <div class="cell"><a href="{{url_for('app_blueprint.upload')}}">Upload</a></div>
        </div>
      </div>
<a href = "{{url_for('app_blueprint.database')}}" class="back">Back</a>
<h3 class="Table_Header">
{{table_name_html|safe}}
</h3>
<script> console.log("{{file_name|safe}}");</script>
<script>
function getdf() {
    var filename = "{{ file_name | safe }}";
    console.log(filename);
    var url = '/'+filename+'/api/df';
    $.ajax({
        type: "GET",
        url: url,
        dataType: "json",

        success: function(response) {
            if (response !== null && response !== undefined) {
                var headers = response.df_headers;
                console.log(headers);

                var table = document.createElement("myTable");
                table.id = "myTable";
                document.body.appendChild(table);

                var tr = document.createElement("tr");
                tr.id = "tableHead";
                table.appendChild(tr);
                for (var i = 0; i < headers.length; i++) {
                    var th = document.createElement("th");
                    th.textContent = headers[i];
                    tr.appendChild(th);
                    console.log(tr);
                }

                var tableBody = document.createElement("tbody");
                tableBody.innerHTML = ""; // Clear existing content

                for (var i = 0; i < response.df.length; i++) {
                    var tr = document.createElement("tr");
                    var keys = headers;
                    console.log(keys);
                    for (var j = 0; j < keys.length; j++) {
                        var key = keys[j];
                        console.log(key);
                        var td = document.createElement("td");
                        td.textContent = response.df[i][key]; 
                        console.log(td);
                        tr.appendChild(td);
                        console.log(tr);
                    }
                    tableBody.appendChild(tr);
                    
                    table.appendChild(tableBody);
                }
            } else {
                console.error("Error: df is null or undefined");
            }
        },
        error: function(xhr, status, error) {
            console.error("Error: " + error);
        }
    });
}
getdf();
</script>

</body>
</html>